.toggleFontSize {
    position: fixed;
    bottom: 1.5rem;
    right:  1.5rem;
    z-index: 10;
    background: #44739c;
    border: none;
    font-family: inherit;
    font-size:  inherit;
    border-radius: 2px;
    padding: .5rem;
    outline: none;
}

.book {
    height: 82vh;
    width: 90vw;
    margin: auto;
}

button {
    font-size: 100px;
}

.BookView {
    position: relative;
    height: 82vh;
}
