@media screen and (min-height: 400px) {
    .StoryView {height: 85vh;}
    .accordion-item .body {height: 28vh;}
}

@media screen and (min-height: 770px) {
    .StoryView {height: 87vh;}
    .accordion-item .body {height: 30vh;}
}

@media screen and (min-height: 800px) {
    .accordion-item .body {height: 36vh;}
}

@media screen and (min-width: 800px){
    .story-viewer-options li {font-size: .79em!important;}
}

.accordion-item .accordion-title {font-size: 1.3em;}

.accordion-item .body {
    padding:5%;
    width:100%;
    font-size:.9em;
    border:1px solid #e7e7e7;
    overflow-y:scroll;
}

.keyword-well {
    background-color: #e3e3e3;
    padding:3px;
    border-radius:2px;
    margin:2px;
    display: inline-block;
    color: black;
}

.story-viewer {
    border:2px solid #e3e3e3;
    padding:1% 0 0 0;
    margin-left:1.5%;
    width:97%;
}

.story-viewer-options {
    list-style: none;
    margin:0;
}

.story-viewer-options li {
    display:inline-block;
}

/* Height for story */
.story {
    overflow-y: scroll;
    height:40vh;
}

.story.card {height: 90%;}

/* Height for Annotations */
.card.annotation {height: 25vh;}
.card.annotation .card-section {
    overflow-y: scroll;
    height: 100%;
}

.title {
    background-color: #dcdcdc;
    padding: 1% 3% 1% 3%;
}

.relatedStories {
    border: 2px solid #e3e3e3;
    overflow-y: scroll;
}

.associated-items {
    color: #44739c;
}
