.SearchComponent{
    /*padding-top:5vh;*/
    padding:5% 0 3% 2%;
    /*height:30vh;*/
    background:#ED4C67;
    margin-bottom:20%;
    margin-top:10%;
    height:23%;
    overflow:visible;
}

.suggestion-wrapper{
    display:none;
}
.suggestion-wrapper.active{
    display:block;
}
.SearchComponent input, .SearchComponent label{
    color:white;
    display:inline-block;
}
.SearchComponent label{
    margin-right:10px;
    margin-left:10%;
}

.SearchComponent input[type=text]{
    border: 0;
    outline: none;
    background: transparent;
    border-bottom: 2px solid white;
    box-shadow:none;
    color:white;
    font-size:1.7em;
    padding:3px;
    height:1.6em;
    width:80%;
    margin-left:10%;
    margin-top:8%;
}
.SearchComponent input[type=text]:focus {
    outline: none;
}
@keyframes suggestionsDrop {
    from {height:0}
    to {height:20vh;}
}
.SearchComponent input[type=text]:focus+.suggestions{
    animation-name:suggestionsDrop;
    animation-duration:1s;
}
.suggestions{
    display:none;
    height:20vh;
    overflow-y:scroll;
    background-color:white;
    font-size:1.3em;
    width:102%;
    margin-left:0%;
    list-style: none;
    position:relative;
    left:-2%;
    top:-40%;
}
.suggestions li{
    padding:1% 0 1% 3%;
}
.suggestions li:hover{
    background-color:lightgrey;
    width:100%;
}
.suggestions.active{
    display:block;
}
.filters{
    width:100%;
    /*height:70%;*/
    margin-top:10%;
    background-color:#CC4159;
}

/*Shorter screen font sizes*/
@media screen and (max-height : 720px) {
    /* Styles */
    .SearchComponent{
        padding-bottom:45%;
    }
    .SearchComponent input[type=text]{
        font-size:1.4em;
        margin-top:4%;
    }
    .suggestions{
        font-size:1em;
    }
    .keyword-search{
        font-size:.7em;
    }
}