
//test html

<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title> first leaflet</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css"/>

    <style>
        #MapView{
            position:absolute;
            top:0;
            bottom:0;
            right:0;
            left:0;
            width:300px;
        }

    </style>


</head>

<body>
<div id="MapView"></div>
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>

<script>
    var map=L.map("MapView").setView([50.6,-.01],8);

    var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://carto.com/attributions">CARTO</a>"'
    }).addTo(map);
</script>

</body>
</html>
